/* Color */
:root {
  --background: #f9f9f9;
  --primary_text: #333333;
  --secondary_text: #797474;
  --tertiary_text: #c3c7d2;
  --primary: #ff8b00;
  --secondary: #089285;
}
/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary_text);
  background-color: white;
  margin: 0;
}
h1 {
  font-size: 100px;
  font-weight: 700;
  margin: 0;
  padding: 1rem 0;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 2rem 0;
}
h3 {
  font-size: 21px;
  font-weight: 400;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}
* {
  box-sizing: border-box;
}

/* NAV BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: #180126;
}

.brand-title {
  font-size: 1.5rem;
  margin: 8px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.brand-title img {
  width: 150px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
}

.navbar-links li {
  list-style: none;
  font-weight: bolder;
  text-transform: uppercase;
}

.navbar-links li a:hover {
  color: #ff8b00;
}

.navbar-links li a:active {
  color: #ff8b00;
}

.active-link {
  color: var(--primary) !important;
}

.navbar-links li a {
  text-decoration: none;
  color: #180126;
  font-size: 16px;
  padding: 1rem;
  display: block;
  text-transform: capitalize;
}

.toggle-button {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  border-color: black;
  background-color: black;
  border-radius: 10px;
  color: white;
}

/* Styling for the Error Container */
.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styilng for the Error Box with Teal Background */
.errorMessageBox {
  background-color: var(--secondary);
}
img {
  width: 85%;
}

/* Styling for Input Forms */
label {
  font-size: 13px;
  font-weight: 700;
  padding-top: 15px;
}

input,
textarea {
  margin: 5px 0;
  padding: 10px;
  background-color: #ececec;
  border: none;
  border-radius: 4px;
}

textarea {
  margin-bottom: 30px;
}
sup {
  color: #ff0000;
}

button {
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 70px;
  width: 343px;
}

/* Footer */

footer {
  justify-content: center;
}
.bold {
  font-weight: 700;
  font-size: 21px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c4c4c4;
  padding-left: 3rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
}
.footer-info h3 {
  font-weight: 700;
  font-size: 16px;
}
#newsletter {
  display: grid;
  justify-content: center;
  margin-bottom: 1.5rem;
}
#newsletter input {
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  color: var(--secondary_text);
  padding: 0.5rem 0;
  text-indent: 1rem;
}
::placeholder {
  text-indent: 1rem;
}

ul.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  padding: 10px 0;
}
.footer-links li:first-child {
  font-weight: 700;
}

.footer-links a {
  text-decoration: none;
  color: var(--primary_text);
}
.footer-links a:hover {
  color: var(--primary);
}
.social {
  margin-top: 2rem;
  display: flex;
}
.social i {
  margin-right: 2rem;
  width: 21px;
}
.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #63625b;
  margin: 0;
  padding: 0;
  color: var(--background);
  font-size: 1rem;
  font-weight: 700;
}

.copyright p {
  align-self: center;
}

/* Responsive Styling @400px and up */
@media only screen and (min-width: 400px) {
  header {
    height: 73vh;
  }
  button.getstarted {
    margin-left: 1rem;
  }

  /* Footer */
  .footer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .subscribe {
    align-self: start;
  }
  .social {
    margin-top: 0;
  }
  #newsletter input {
    padding: 0;
    height: 40px;
    width: 343px;
    text-align: justify;
  }

  button.cta-subscribe {
    height: 40px;
    width: 344px;
  }
}
/* Responsive Styling 768px and below */
@media only screen and (max-width: 768px) {
  /* Footer */
  #newsletter p {
    font-size: 16px;
  }
  .hero-text h1 {
    font-size: 1.5rem;
    line-height: normal;
  }
  .hero-text h2 {
    font-size: 1rem;
  }
}

/* Responsive Styling 930px and up */
@media only screen and (min-width: 930px) {
  /* Nav */
  nav {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 4rem;
  }

  ul.nav-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

/* Responsive styling for screens 600px and under */
@media (max-width: 600px) {
  /* Nav styling */
  .toggle-button {
    display: flex;
    width: 25px;
    margin: 15px 20px;
  }
  .brand-title img {
    width: 150px;
    margin: 0 15px;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  /* Footer */

  .footer-info {
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: left;
  }

  #subscribe-email,
  .cta-subscribe {
    width: 250px;
  }
}
/* Responsive Styling @400px and below */
@media only screen and (max-width: 400px) {
  /* Footer */
  .footer-info {
    padding-right: 1rem;
    padding-bottom: 1rem;
    justify-content: left;
  }
  #subscribe-email,
  .cta-subscribe {
    width: 220px;
  }
  .copyright p {
    font-size: 0.75rem;
    padding: 5px;
  }
}
/* Responsive Styling for Tablet */
@media only screen and (max-width: 930px) and (min-width: 600px) {
  nav {
    padding: 0 4rem;
  }
}
