/* Color */
:root {
    --background: #F9F9F9;
    --primary_text: #333333;
    --secondary_text: #797474;
    --tertiary_text: #C3C7D2;
    --primary: #FF8B00;
    --secondary: #FF624D;
}
/* Typography */
body {
    font-family: "Open Sans",sans-serif; 
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary_text);
    background-color: white;
    margin: 0;
}
h1 {
    font-size: 10vw;
    font-weight: 400;
}
h2 {
    font-size: 5vw;
    font-weight: 400;
}
h3 {
    font-size: 21px;
    font-weight: 400;
}
p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}
/* Logo */
.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #180126;
    font-size: 1rem;
}
.logo img {
    width: 33px;
}
/* Navbar */
nav{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background);
    margin: 0;
    padding-top: 1rem;
}
.logo {
    justify-content: center;
    width: 100%;
}
ul.nav-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: 700;
    width: 100%;
    padding: 0;
}
.nav-links a {
    text-decoration: none;
    color: var(--primary_text);
}
a.active-link {
    color: var(--primary);
}
/* Header */
header {
    background-image: url("/about-us-images/header-fire.svg");
    background-repeat: no-repeat;
    object-fit: cover;
    height: 596px;
    width: 100%;
    object-position: bottom;
}
.about {
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 4rem;
}

header h1 {
    margin: 0;
}
header h2 {
    line-height: 42px;
}
button.cta {
    border: none;
    background-color: var(--primary);
    color: var(--background);
    padding: .5rem 5rem;
    border-radius: 4px;
}
/* Section Meet Our Team */
.team {
    text-align: center;
    margin-top: 5rem;
} 
.team-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 2rem;
}

.team-pic {
    border-radius: 50%;
    width: 196px;
}
/* Section Call to Action */
.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem 2rem;
}
.cta-container div:first-child {
    order: 2;
}
.cta.img {
    width: 84px;
}
/* Footer */
.footer-info {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    background-color: #C4C4C4;
    padding: 3rem 2rem;
}
ul.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #63625B;
    margin:0;
    padding:0;
    color: var(--background);
    font-size: 1rem;
    font-weight: 700;
}
/* Responsive Styling @400px and up */
@media only screen and (min-width: 400px) {
    h1 {
font-size: 37px;
}
h2 {
font-size: 28px;
}
    header {
        height: 65vh;
    }
    /* Nav */
    nav {
        display: flex;
        flex-wrap: nowrap;
        padding: 0rem 4rem;
    }
    .logo {
        justify-content: start;
    }
    ul.nav-links {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    .nav-links li {
        margin-left: 2rem;
    }
    /* Header */
    .about {
        margin: 0 4rem;
    }
    /* Section Meet our Team */
    .team-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10rem;
        margin: 0 4rem;
    }
     /* Call to Action Section */
    .cta-container {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: center;
    margin-top: 10rem;
    }
    .cta-container div:first-child{
        order: -1;
    }
    .cta-text {
        width: 50vw;
    }
    .cta-img {
        margin-left: 3rem;
    }
    /* Footer */
   .footer-info {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       margin-top: 10rem;
       padding: 1 4rem;
       align-items: center;
       justify-content: space-evenly;
   }
}