
html, body {
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: helvetica, arial;
  }
  
  article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  }
  
  header {
    background: deeppink;
    padding: 1rem;
  }
  
  main {
    background: whitesmoke;
    color: #444;
    padding: 1rem;
  }
  
  footer {
    background: purple;
    padding: 1rem;
  }