/* Color */
:root {
  --background: #f9f9f9;
  --primary_text: #333333;
  --secondary_text: #797474;
  --tertiary_text: #c3c7d2;
  --primary: #ff8b00;
  --secondary: #089285;
}
/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary_text);
  background-color: white;
  margin: 0;
}
h1 {
  font-size: 10vw;
  font-weight: 400;
}
h2 {
  font-size: 5vw;
  font-weight: 400;
}
h3 {
  font-size: 21px;
  font-weight: 400;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #180126;
  font-size: 1rem;
}
.logo img {
  width: 33px;
}
a.logo {
  text-decoration: none;
}

/* Index CSS */
.containergrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.gridpiece {
  width: 50%;
  margin: auto;
}

.blurb {
  max-width: 600px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}

.blurbright {
  max-width: 600px;
  justify-content: left;
  align-items: left;
  margin-right: auto;
  max-width: 600px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Hero */
.c-hero {
  height: 65vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.c-hero__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  z-index: 5;
}

@media only screen and (max-width: 900px) {
  .c-hero__headline {
    width: 80% !important;
  }
}

.c-hero__headline {
  color: #fff;
  font-size: 37px;
  line-height: 50px;
  font-weight: 200;
  width: 50%;
  line-height: 1;
  text-align: left;
}

.c-hero__img-container {
  background-image: url("images/Heroimage.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* END Hero */

/*END Index CSS */

header h1 {
  margin: 0;
}
header h2 {
  line-height: 42px;
}
button {
  border: none;
  background-color: var(--primary);
  color: var(--background);
  padding: 0.5rem 5rem;
  border-radius: 4px;
}
button:hover {
  background-color: var(--background);
  border: 1px solid var(--primary);
  color: var(--primary);
}
/* Section Meet Our Team */
.team {
  text-align: center;
  margin-top: 5rem;
}
.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.team-card h3 {
  line-height: 20px;
  margin-bottom: 6px;
  margin-top: 6px;
  font-weight: 700;
}
.team-card p {
  line-height: 28px;
  margin-top: 2.5rem;
  font-size: 21px;
}
.team-pic {
  border-radius: 50%;
  height: 196px;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
/* Section Call to Action */
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem 3rem;
}
.cta-container div:first-child {
  order: 2;
}
.cta.img {
  width: 84px;
}


/* Footer */

footer {
  justify-content: center;
}
.bold {
  font-weight: 700;
  font-size: 21px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #C4C4C4;
  padding-left: 3rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
}
.footer-info h3{
  font-weight: 700;
  font-size: 16px;
}
#newsletter {
  display: grid;
  justify-content: center;
  margin-bottom: 1.5rem;
}
#newsletter input {
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  color: var(--secondary_text);
  padding: .5rem 0;
  text-indent: 1rem;
}
::placeholder{
  text-indent: 1rem;
}

ul.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-links li{
  padding: 10px 0;
}
.footer-links li:first-child {
  font-weight: 700;
}

.footer-links a {
  text-decoration: none;
  color: var(--primary_text);
}
.footer-links a:hover {
  color: var(--primary);
}
.social {
  margin-top: 2rem;
  display: flex;
}
.social i {
  margin-right: 2rem;
  width: 21px;
}
.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #63625B;
  margin:0;
  padding:0;
  color: var(--background);
  font-size: 1rem;
  font-weight: 700;
}

.copyright p {
  align-self: center;
}

      /* Footer */
      .footer-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
        }
        .subscribe {
            align-self: start;
        }
        .social {
            margin-top: 0;
        }
        #newsletter input {
            padding: 0;
            height: 40px;
            width: 343px;
            text-align: justify;
        }
    
        button.cta-subscribe {
            height: 40px;
            width: 344px;
        }
    }
    /* Responsive Styling 768px and below */
    @media only screen and (max-width: 768px){ 
        /* Footer */
        #newsletter p {
            font-size: 16px;
        }

        button {
          width: 200px !important;
        }
    }

/* Responsive Styling @400px and up */
@media only screen and (min-width: 400px) {
  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 7vw;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  p {
    font-size: 21px;
    line-height: 28px;
  }
  header {
    height: 73vh;
  }
}

  /* Call to Action Section */
  .cta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
  }
  .cta-container div:first-child {
    order: -1;
  }
  .cta-text {
    width: 50vw;
  }
  .cta-img {
    margin-left: 3rem;
  }
  /* Footer */
  .footer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .subscribe {
    align-self: start;
  }
  .social {
    margin-top: 0;
  }
  #newsletter input {
    padding: 0;
    height: 40px;
    width: 343px;
    text-align: justify;
  }
  ::placeholder {
    text-indent: 1rem;
  }
  button.cta-subscribe {
    height: 40px;
    width: 344px;
  }
}
/* Responsive Styling @550px and below */
@media only screen and (max-width: 550px) {
  .footer-info {
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: left;
  }
  #contact-form {
    margin: 15px;
  }

  #subscribe-email,
  .cta-subscribe {
    width: 250px;
  }
}

/* Responsive Styling 930px and up */
@media only screen and (min-width: 930px) {
  /* Header */
  .about {
    margin: 0rem 4rem;
  }
  h1 {
    font-size: 37px;
  }
  h2 {
    font-size: 28px;
  }
  .team-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .team-card {
    width: 30%;
    padding: 3rem;
  }
}

label {
  font-size: 13px;
  font-weight: 700;
  padding-top: 15px;
}

input,
textarea {
  margin: 5px 0;
  padding: 10px;
  background-color: #ececec;
  border: none;
  border-radius: 4px;
}

textarea {
  margin-bottom: 30px;
}
sup {
  color: #ff0000;
}

button {
  background: #ff8b00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 70px;
  margin: 15px 0;
  width: 343px;
}

/* NAV BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #180126;
}

.brand-title {
  font-size: 1.5rem;
  margin: 8px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.brand-title img {
  width: 150px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
}

.navbar-links li {
  list-style: none;
  font-weight: bolder;
  text-transform: uppercase;
}

.navbar-links li a:hover {
  color: #ff8b00;
}

.navbar-links li a:active {
  color: #ff8b00;
}

.active-link {
  color: var(--primary) !important;
}

.navbar-links li a {
  text-decoration: none;
  color: #180126;
  font-size: 16px;
  padding: 1rem;
  display: block;
  text-transform: capitalize;
}

.toggle-button {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  border-color: black;
  background-color: black;
  border-radius: 10px;
  color: white;
}

/* END NAV BAR */

/* Responsive styling for screens 600px and under */
@media (max-width: 600px) {
  /* Nav styling */
  .toggle-button {
    display: flex;
    width: 25px;
    margin: 15px 20px;
  }
  .brand-title img {
    width: 150px;
    margin: 0 15px;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}

/* Responsive Styling 768px and below */
@media only screen and (max-width: 768px) {
  #contact-form {
    margin: 30px;
  }
  #contact-form button {
    width: 300px;
  }
  #newsletter p {
    font-size: 16px;
  }

  .containergrid {
    display: grid;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .gridpiece {
    width: 75%;
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
    width: 25px;
    margin: 25px;
  }
  .brand-title img {
    width: 150px;
    margin: 10px 20px;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Responsive Styling 768px and below */
@media only screen and (max-width: 768px) {
  #contact-form {
    margin: 30px;
  }
  #contact-form button {
    width: 300px;
  }
  #newsletter p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
    width: 25px;
    margin: 25px;
  }
  .brand-title img {
    width: 150px;
    margin: 10px 20px;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Responsive Styling @550px and below */
@media only screen and (max-width: 550px) {
  .footer-info {
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: left;
  }
  #contact-form {
    margin: 15px;
  }

  #subscribe-email,
  .cta-subscribe {
    width: 250px;
  }
}
/* Responsive Styling @400px and below */
@media only screen and (max-width: 400px) {
  .footer-info {
    padding-right: 1rem;
    padding-bottom: 1rem;
    justify-content: left;
  }
  #contact-form {
    margin: 10px;
  }
  #contact-form button {
    width: 220px;
  }
  #subscribe-email,
  .cta-subscribe {
    width: 220px;
  }
}
