<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Error</title>
    <link rel="stylesheet" href="404.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/ico" href="/images/fire-reporter-logo.ico" />
    <script
      src="https://kit.fontawesome.com/21d1f09dfc.js"
      crossorigin="anonymous"
    ></script>
    <script src="script.js" defer></script>
  </head>

  <body>
    <!-- 404 Error Box-->
    <div class="errorContainer">
      <h2>Something's amiss?</h2>
      <div class="errorMessageBox">
        <h1>404</h1>
        <p>OOPS! ...PAGE NOT FOUND</p>
        <img
          src="images/broken_connection.svg"
          alt="An illustration of a power cord that is broken with a fire"
          class="errorImg"
        />
      </div>
      <div class="returnHome">
        <p>
          The link you followed may be broken or the page may have been removed.
        </p>
        <a href="index.html">
          <button class="goHomeBtn">Go Home</button>
        </a>
      </div>
    </div>
  </body>
</html>