<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Wildfire App</title>
	<link href="{% static 'css/style.css' %}" type = "text/css" rel="stylesheet">
    <script src="{% static 'js/script.js' %}" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d3c5fccc93.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar">
        <div class="brand-title"><img src="{% static 'images/fire-reporter-logo.png' %}" width="200px"></div>
        {% if messages %}
        <ul class="messages"  autocomplete="off">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <a href="#" class="toggle-button"> 
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#" class="active-link">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
    </nav>
    <div class="c-hero">
        <div class="c-hero__content">
          <h1 class="c-hero__headline">We  are committed to being Simple, Fast and Reliable
            We do it For You!</h1>
            <button class="buttonorange">Read More</button>
        </div>

        <div class="c-hero__img-container">


           
        </div>
      </div>
        <div class="containergrid">
        
                <div class="gridpiece">
                    <img class ="centerimg" width="65%" src="{% static 'images/Mobileapp.png' %}" width="350px">
                </div>
                <div class="gridpiece">
                    <p class="blurbright"><strong>Do You Have News About Fire?
                        Go to FireReporter App</strong></p>
                    <p class="blurbright">The FireReporter is here to receive and give your timely, accurate and reliable information in the event of fire outbreaks - anywhere in the world. Our main focus is to provide information that will save lives, property and environment.</p>
                </div>

                <div class="gridpiece">
                    <p class="blurb"><strong>When we come together, we keep each other safe from fire tragedies.</strong></p>
                    <p class="blurb">Let poeple know what is happenning around you. Share fire outbreak news and safety information with your loved ones, friends and the world.  Be our hero today!</p>
                </div>
                <div class="gridpiece">
                    <p><center><strong>Download Our Mobile App.</strong></center></p>
                    <img class ="centerimg" src="{% static 'images/DownloadAppStore.png' %}" width="200px"><br />
                    <img class ="centerimg" src="{% static 'images/DownloadGooglePlay.png' %}" width="200px">
                </div>
            
        </div>
        <footer>
            <div class="footer-info">
                <form id="newsletter" method="post">
                    <p class="bold">Want to join our Membership team?</p>
                    <p>Subscribe to our newsletter</p>
                    {% csrf_token %}
                    {{form}}
                    <input type="email" id="subscribe-email" name="email" placeholder="Enter Your Email">
                    <button class="cta cta-subscribe">Subscribe</button>
                </form>
                <div class="link-list">
                    <ul class="footer-links">
                        <li>About Us</li>
                        <li><a href="#">Leadership</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Customer Service Charter</a></li>
                        <li><a href="#">Annual Reports</a></li>
                        <li><a href="#">Frequently Asked Questions</a></li>
                    </ul>
                </div>
                <div class="link-list">
                    <ul class="footer-links">
                        <li>More</li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Data Privacy Statement</a></li>
                        <li><a href="#">Follow Us on Twitter</a></li>
                        <li><a href="#">Follow Us on Facebook</a></li>
                        <li class="social">
                            <a href="#"><i class="fab fa-facebook-square icon"></i></a>
                            <a href="#"><i class="fab fa-twitter-square icon"></i></a>
                            <a href="#"><i class="fab fa-youtube-square icon"></i></a>
                            <a href="#"><i class="fab fa-instagram-square icon"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright 2021 FireReporter. All Rights Reserved.</p>
            </div>
        </footer>
</body>
</html>